#newTwids {
	font-family: helvetica;
	position: center;
	background-color: hsla(73, 100%, 85%, .5);
	outline: thin dotted;
}

.twidContainer {
	font-family: helvetica;
	position: center;
	background-color: hsla(73, 100%, 85%, .5);
}

.title {
	font-family: helvetica;
	text-align: right;
	text-transform: lowercase;

}

.twid {
	position: relative;
	font-family: helvetica;
	margin-top: 15px;
	background-color: hsla(73, 100%, 85%, 1);
}

.tweet-button {
	background: inherit;
    color: inherit;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
}

body {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    background-color: hsla(70, 0%, 25%, .25) ; 
}

small {
	display: block;
	font-size: 9px;
}

