.twidContainer {
	font-family: helvetica;
	position: relative;
	background-color: hsla(73, 100%, 85%, 1);

}


.title {
	font-family: helvetica;
	text-align: center;
}

.twid {
	padding-top: 8px;
	padding-bottom: 5px;
	position: relative;
	font-family: helvetica;
	

}

.tweet-button {
	background: none;
    color: inherit;
    border: 2px solid white;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
    width: 100%;
}

body {
    width:60%;
    margin-left:100px;
    margin-right:auto;
}

small {
	display: block;
	font-size: 9px;
}

a {
	display: block;
	text-decoration: none;
	color: black;
	font-family: helvetica;
}
